
body{
  background-color: rgb(172,171,171);
}
.image-cv{
  width: 100px;
  height: 100px;
}
.contact-header{
  border-bottom: 5px rgb(6, 213, 245) solid ;
  
}
.contact-link{
  text-decoration: none;
}

.title-border{
  width: 40%;
  border-top: 8px rgb(6, 213, 245) solid ;
}

.project-link{
  text-decoration: none;
  color: black;
  line-height: 50px;
  font-size: small;
}
