
*{
  transition: 0.5s;
}
body{
  background-color: rgb(172,171,171);
}
.image-cv{
  width: 100px;
  height: 100px;
}
.contact-header{
  border-bottom: 5px rgb(6, 213, 245) solid ;
  
}
.contact-link{
  text-decoration: none;
}
.contact-link:hover{
  transform: scale(1.2) translateX(20px);
}
.education-info:hover{
  transform: scale(1.03) translateX(8px);
}
.education-info p:hover{
  font-size: large;
}
.language-item:hover{
  transform: scale(1.09) 
}
.title-border{
  width: 40%;
  border-top: 8px rgb(6, 213, 245) solid ;
}
.about-title:hover{
  transform: scale(1.05) translateX(-15px)
}
.project-link{
  text-decoration: none;
  color: black;
  line-height: 80px;
}
.project-link:hover{
  color: blue;
  border-bottom: 2px blue solid;
  transition: 0s;
}